/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* bg rules */
section {
    width: 100%;
    height: 100vh;
    position: relative;
}

#first {
    background-color: red;
}
#second {
    background-color: green;
}
#third {
    background-color: yellow;
}

/* nav rules */
.nav_container {
    position: fixed;
    z-index: 999;
    top: 30px;
    right: 10px;
}

a .page-number {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    background-color: #fff;    
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
}

/* content rules */
 .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 img, h1{
    max-height: 100%;
    max-width: 100%;
}

 h1{
    color: yellow;
    font-size: 50px;
    text-align: center;
 }
 #third h1{
    color: green;
 }